[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/Linus Tolke (linustolke)
	label-Verified = -1..+1 group ArgoUML-verifiers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Linus Tolke (linustolke)
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Linus Tolke (linustolke)
	push = group Registered Users
	push = group user/Linus Tolke (linustolke)
	read = group user/Linus Tolke (linustolke)
	rebase = group user/Linus Tolke (linustolke)
	removeReviewer = group user/Linus Tolke (linustolke)
	submit = group user/Linus Tolke (linustolke)
[access "refs/heads/*"]
	create = group user/Linus Tolke (linustolke)
	push = +force group user/Linus Tolke (linustolke)
	pushMerge = group user/Linus Tolke (linustolke)
	read = group user/Linus Tolke (linustolke)
[access "refs/tags/*"]
	push = group user/Linus Tolke (linustolke)
	push = +force group user/Linus Tolke (linustolke)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = true
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = true
	rejectSymlink = true
	rejectWindowsLineEndings = false
